.big1 {
    background-image: url(img/star2.png);
}
.big2 {
    background-image: url(img/cafe.jpg);
}
.big3 {
    background-image: url(img/star3.png);
}
.big4 {
    background-image: url(img/star4.png);
}